.input_flex{
    display: flex;
    justify-content: space-between;
    margin-top: 5vh;
    margin: 50px;
}


.add_input{
    width: 30%;

}

.add_input > select,.add_input > input{
    border: 1px solid #707070;
    outline: none;
    width: 100%;
    padding: 5px;
    border-radius: 3px;
    margin-top: 5px;

}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 1000px) {
    .add_cont{
        flex-direction: column;
        gap: 60px;
    }
  }